{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-rem-over-px"
  ],
  "rules": {
    "at-rule-disallowed-list" : ["extend"],
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "color-function-notation" : "modern",
    "rem-over-px/rem-over-px": [
      true, 
      { 
        "ignore": [
          "border-radius",
          "border-width",
          "border",
          "box-shadow",
          "1px"
        ], 
        "fontSize": 10
      }
    ]
  }
}