.cover {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: $pad-y $pad-x;
  margin-bottom: $pad-y;
  
  background-color: $bg-alt;

  &__title {
    display: flex;
    flex-grow: 1;
    align-items: center;

    // make title a bit higher
    padding-bottom: 10vh;
  
    font-size: $fs-xxl;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}