.footer {
  padding-top: $pad-s;
  padding-bottom: $pad-s;
  margin-top: $pad-y;

  font-size: $fs-xs;
  font-weight: 600;
  line-height: 1;
  color: $bg-alt;
  text-align: center;
  
  background-color: $highlight;
}
