<section id="introduccio">
  <div class="text container">
    <p class="text__highlight">
      El Parc de la Ciutadella és una de les zones verdes més grans i emblemàtiques de la ciutat de Barcelona.
    </p>
    <ul class="text__default list">
      <li class="list__item">
        Es troba al districte de Ciutat Vella i durant molts anys va ser l'únic parc públic de la Ciutat Comtal.
      </li>
      <li class="list__item">
        Ple d’arbres centenaris, conta amb més de cent espècies vegetals.
      </li>
      <li class="list__item">
        Conté una gran diversitat d’elements: la cascada monumental, edificis del segle XIX avui convertits en museus, un llac per passejar en barquetes de rems, passejos i nombroses escultures.
      </li>
      <li class="list__item">
        Comparteix espai amb el zoo.
      </li>
    </ul>
  </div>
  
  <figure class="picture">
    <img 
      src="./assets/images/pics/intro.png"
      class="picture__image"
      alt="Fotografia"
    >
    <figcaption class="picture__caption">
      Vista sobre la cascada principal.
    </figcaption>
  </figure>
  
</section>