<section id="historia">

  <div class="container text">

    <h1 class="text__title">
      Història
    </h1>

    <div class="text__columns" data-aos="fade">
      <p>El parc està situat als terrenys on Felip V va fer construir una <b>gran ciutadella militar</b> per controlar
        la
        ciutat l’any 1715, després que aquesta es rendís l’11 de setembre de 1714. Per construir-la es van enderrocar
        les muralles de l’extrem nord-est de la ciutat i 1.262 cases del barri de la Ribera.</p>

      <p>L’any 1869 el general Prim −l’estàtua eqüestre del qual podem contemplar dins l’actual espai verd− va lliurar
        la ciutadella a Barcelona a fi d’obtenir el suport de la burgesia industrial barcelonina. La condició fou que
        calia dedicar el solar a parc públic. La fortalesa militar va ser enderrocada per brigades de voluntaris.</p>

      <p>La recuperació d’aquests terrenys va permetre crear un <b>gran espai verd</b> molt necessari en una Barcelona
        cada cop
        més massificada pel desenvolupament industrial. Calien llocs on “poder respirar”, com molt bé definia Josep
        Fontserè en el lema del projecte: “Els jardins són a la ciutat el mateix que els pulmons al cos humà”.</p>

      <p>El traçat original determinat per Fontserè l’any 1872 es va modificar per incloure l’<a
          href="https://ca.wikipedia.org/wiki/Exposici%C3%B3_Universal_de_Barcelona" target="_blank">Exposició Universal
          de 1888</a> i, més tard, per instal·lar-hi el Zoo de Barcelona, un dels més importants d’Europa i que ocupa la
        meitat dels terrenys.</p>

      <p>El 6 d’octubre de 1991 va morir brutalment assassinada la transsexual Sonia a la glorieta de músics, que va
        passar a anomenar-se <a href="https://ca.wikipedia.org/wiki/Glorieta_de_la_Transsexual_S%C3%B2nia"
          target="_blank">Glorieta de la Transsexual Sònia</a>.</p>
    </div>
  </div>

</section>