<section id="biodiversitat">

  <div class="container text">
    <h1 class="text__title">
      Biodiversitat
    </h1>
  </div>

  <figure class="container picture" data-aos="fade" data-aos-duration="800">
    <img src="./assets/images/pics/arbrat-centenari.jpg" class="picture__image" alt="Fotografia">
    <figcaption class="picture__caption picture__caption--big">
      <h2 class="picture__title">Arbrat centenari</h2>
      <div class="picture__small-text">
        <p>Al parc de la Ciutadella hi ha diversos exemplars inclosos en el Catàleg d’arbres d’interès local de
          Barcelona: una acàcia de Constantinoble (
          <em>Albizia julibrissin</em>), un taronger de Luisiana (
          <em>Maclura pomifera</em>), un pi australià (
          <em>Casuarina cunninghamiana</em>) i un exemplar de
          <em>Quercus polymorpha</em>, plantats a finals del segle XIX, i els xiprers calbs que hi ha al llac,
          plantats durant el primer terç del segle XX.
        </p>
      </div>
    </figcaption>
  </figure>

  <div class="container text">
    <div class="text__columns" data-aos="fade">
      <p>Hi abunden els til·lers (
        <em>Tilia x europaea,</em>
        <em>Tilia tomentosa </em>i
        <em>Tilia x euchlora</em>), les magnòlies (
        <em>Magnolia grandiflora</em>), els àlbers (
        <em>Populus alba i
          <em>Populus alba “Pyramidalis</em>“) i els plàtans (
          <em>Platanus x hispanica</em>). Els lledoners (
          <em>Celtis australis</em>) són els protagonistes a la glorieta d’Aribau. Prop de l’Umbracle hi trobem
          paulònies (
          <em>Paulownia tormentosa</em>) i
          <em>Prodocarpus neriifolius</em>, i al costat del mamut, arbres sagrats (
          <em>Ginkgo biloba</em>).
      </p>

      <p>Altres espècies presents al parc són l’acàcia (
        <em>Robinia pseudoacacia</em>), els xiprers (
        <em>Cupressus macrocarpa </em>i
        <em>Cupressus sempervirens</em>), el pi australià (
        <em>Casuarina cunnighamiana</em>), la bellaombra (
        <em>Phytolacca dioica</em>), els castanyers d’Índia (
        <em>Aesculus hippocastanum</em>), així com tres exemplars de xiprer calb (
        <em>Taxodium distichum</em>) dins el llac.
      </p>

      <p>També destaquen les palmeres de Canàries (
        <em>Phoenix canariensis</em>), les palmeres datileres (
        <em>Phoenix dactylifera</em>), les palmeres blaves (
        <em>Brahea armata</em>) i les iuques (
        <em>Yucca elephatipes</em>). Hi ha grans exemplars arbustius de llorer (
        <em>Laurus nobilis</em>), de tamariu (
        <em>Tamarix gallica</em>) i de baladre (
        <em>Nerium oleander</em>), i tanques vegetals perfectament retallades de pitòspor (
        <em>Pittosporum tobira</em>) i d’evònim del Japó (
        <em>Euonymus japonicus</em>).
      </p>
    </div>
  </div>

  <figure class="container picture" data-aos="fade" data-aos-duration="800">
    <img src="./assets/images/pics/ocells.jpg" class="picture__image" alt="Fotografia">
    <figcaption class="picture__caption picture__caption--big">
      <h2 class="picture__title">Ocells</h2>
      <div class="picture__small-text">
        <p>En aquest parc hi viuen una gran quantitat d’ocells, amb un cens de més de 100 espècies diferents. Cal
          destacar la gran colònia de bernats pescaires, actualment la més important de Catalunya. Elegants i
          majestuosos, és fàcil veure’ls volar arreu del parc. La Ciutadella és, doncs, un bon lloc per als
          afeccionats a l’ornitologia.</p>
      </div>
    </figcaption>
  </figure>

</section>