<section id="paisatgisme-i-disseny">
  <div class="container text">
    <h1 class="text__title">
      Paisatgisme i disseny
    </h1>
    <div class="text__columns">

      <p>Sobresurt l’ordenació paisatgista formada per una gran cascada monumental, el llac i la glorieta de la
        Transsexual Sonia.</p>

      <p>Una altra peça important del parc és la plaça d’Armes. Projectada l’any 1916 per l’enginyer i paisatgista
        francès J.C.N. Forestier, està situada davant del Parlament. És el treball paisatgístic més ben conservat
        del parc i un exemple notable d’urbanització vegetal.</p>

    </div>
  </div>

  <div class="container box">
      <h2 class="box__title">El passeig dels Til·lers</h2>
      <div class="box__text">
        <p>S’estén a partir de l’entrada principal del parc de la Ciutadella i culmina un recorregut esplèndid que
          comença al passeig de Sant Joan, segueix pel passeig de Lluís Companys −encapçalat pel magnífic Arc de
          Triomf− i obre les portes del parc just al davant del monument a Rius i Taulet. Aquesta és una de les
          perspectives urbanes més boniques de Barcelona.</p>

        <p>Al costat de la doble filera de til·lers, resseguint tot el passeig fins a l’escultura eqüestre del general
          Prim, hi ha amplis parterres amb arbustos retallats on sobresurten palmeres altíssimes. En un dels costats,
          prop de l’entrada del parc, hi ha els pavellons que encara resten de l’època inicial del parc i de
          l’Exposició Universal de 1888.</p>
      </div>
    </figcaption>
  </div>
</section>