<section id="art-i-arquitectura">

  <div class="text container">
    <h1 class="text__title">
      Art i Arquitectura
    </h1>
  </div>

  <figure class="container picture" data-aos="fade" data-aos-duration="800">
    <img src="./assets/images/pics/cascada.png" class="picture__image" alt="Fotografia">
    <figcaption class="picture__caption picture__caption--big">
      <h2 class="picture__title">
        La cascada monumental
      </h2>
      <div class="picture__small-text">

        <p>Va ser dissenyada per Josep Fontserè el 1875, i inaugurada l’any 1881, qui va tenir com a ajudant Antoni
          Gaudí, aleshores molt jove, i a qui s’atribueixen les rocalles de la cascada i alguns motius decoratius.
        </p>
        
        <p>La cascada està ornamentada per molts elements escultòrics d’artistes catalans de finals del segle XIX,
          col·locats després de la seva inauguració.
        </p>

      </div>
    </figcaption>
  </figure>

  <div class="text container">
    <div class="text__columns" data-aos="fade">

      <p>Està considerat com un museu a l’aire lliure per la profusió i la qualitat de les seves escultures. Hi ha obres
        de Frederic Marès (estàtua eqüestre del general Prim), Eusebi Arnau (bust de marbre de Marià Aguiló), Josep
        Clarà (nu de bronze dedicat als voluntaris catalans de 1914), Josep Llimona (nu femení de marbre
        <em>El desconsol</em>), Pau Gargallo (bust de marbre de Lleó Fontoba), Manuel Fuxà (bustos de marbre de Milà i
        Fontanals, Víctor Balaguer i Joaquim Vayreda, i figura de bronze de Bonaventura Carles Aribau) i Eduard B.
        Alentorn (grup de marbre
        <em>La cigonya i la guineu</em>), entre altres escultors.
      </p>

      <p>Per la seva popularitat, cal fer esment de dues escultures:
        <em>La dama del paraigua</em>, de Joan Roig Soler, que durant molts anys va ser un dels símbols de Barcelona i
        que corona una font ornamental que va dissenyar Josep Fontserè, i un mamut de pedra, primera i única de les
        reproduccions a mida natural d’animals extingits que el 1907 la Junta de Ciències Naturals volia instal·lar al
        parc.
      </p>

      <p>
        Quant a la cascada monumental, se'n destaquen alguns elements escultòrics que l'ornamenten. L’element central és
        el
        <em>Naixement de Venus</em>, de Venanci Vallmitjana. Culmina el conjunt
        <em>La quadriga de l’Aurora</em>, de Rossend Nobas, autor també de quatre grups de genis, dos faunes i de la
        figura d’Eros. A baix, quatre grius modelats per Rafael Atché protegeixen la Venus.
      </p>

    </div>
  </div>

  <figure class="picture">
    <img src="./assets/images/pics/glorieta.jpg" class="picture__image" alt="Fotografia">
    <figcaption class="picture__caption picture__caption">
      Glorieta de la transsexual Sonia, en homenatge a Sonia Rescalvo, assassinada per la seva identitat de gènere al
      1991.
    </figcaption>
  </figure>

  <div class="container box" data-aos="fade" data-aos-duration="500">

    <h2 class="box__title">
      Els edificis
    </h2>

    <div class="box__text">

      <p>De l’antiga ciutadella militar construïda el 1715 en resten la capella castrense, obra de Pròsper Verboom
        (1728), el palau del governador −seu de l’Institut Escola durant la Segona República i avui un dels centres
        d’educació secundària de la ciutat− i l’edifici de l’arsenal, actualment seu del Parlament de Catalunya.
      </p>

      <p>La resta d’edificis que hi ha al parc es van construir el darrer terç del segle XIX. El primer va ser el Museu
        Martorell de Geologia, d’estil neoclàssic, projectat l’any 1879 per Antoni Rovira i Trias, i que es va integrar
        en el disseny del parc que va portar a terme Josep Fontserè l’any 1872.
      </p>

      <p>Quant a les construccions realitzades en motiu de l’Exposició Universal de 1888, se’n conserva el restaurant,
        un edifici de maó vist, coronat de merlets, obra de Domènech i Muntaner, i que pertany a la primera època del
        modernisme barceloní. S’anomenà popularment el Castell dels Tres Dragons, i des de l’any 1934 és la seu del
        Museu de Zoologia de Barcelona.
      </p>

      <p>També van ser projectats per a l’Exposició Universal de 1888 l’<a
          href="https://ca.wikipedia.org/wiki/Umbracle_(Barcelona)" target="_blank">Umbracle</a>, un recinte singular
        dissenyat per
        Josep Fontserè (1883) que integra el maó, el ferro i un enllistonat de fusta que procura ombra a espècies
        subtropicals, i l’Hivernacle, una construcció de ferro i vidre dissenyada per Josep Amargós i Samaranch l’any
        1884.
      </p>
    </div>
    </figcaption>
  </div>
</section>