html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overscroll-behavior: none;
  
  font-family: $f;
  font-size: $fs-m;
  font-weight: 400;
  line-height: 1.33;

  color: $primary;
  background-color: $bg;
}

section {
  overflow: hidden;
}

p {
  padding-bottom: 0.8em;

  &:last-of-type {
    padding-bottom: 0;
  }
}

a {
  font-weight: 600;
  color: $secondary;
  text-decoration: underline;

  &:hover, &:active, &:focus {
    color: $highlight;
    text-decoration: none;
  }
}

em {
  font-style: italic;
}